<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.mapper.CompanyMapper">	
 
	<select id="selectAllCompanyNames" resultType="string">
    	SELECT name	FROM COMPANY
  	</select> 
  
 	<select id="selectCompanyByName" parameterType="string" resultType="Company">
    	SELECT id, name, ceo, address, est_date AS estDate, website
		FROM COMPANY
		WHERE name = #{companyName}
  	</select> 
  
 	<!-- 
 	<resultMap id="resultMap2" ... >
  	
  	
  	</resultMap>
 	-->
 	
 	<select id="selectCompanyWithArtists" parameterType="string" resultMap="resultMap2">
    	SELECT ...
    	FROM ...
    	WHERE ...   #{companyName}  ...
  	</select> 
</mapper>